@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  height: 3.125rem;
  background-color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: $primary;
  padding: 0 1rem;
  margin-top: 1rem;

  &__logo {
    h1 {
      @extend .bebas-neue-regular;
      font-weight: 700;
      color: $accent;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__nav {
    gap: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__muscle {
    height: 3.125rem;
  }
}
