@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  height: 50px;
  background-color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  color: $primary;
  padding: 0 16px;
  margin-top: 16px;

  &__logo {
    h1 {
      @extend .bebas-neue-regular;
      font-weight: 700;
      color: $accent;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    // gap: 10px;
  }

  &__nav {
    // width: 100px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__muscle {
    height: 50px;
  }
}
