@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.weekstrip {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: $background;
  overflow-x: auto;

  &__day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 64px;
    padding: 0.75rem;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    color: #333;
    font-size: 1.125rem;

    span:first-child {
      font-size: 1rem;
    }

    span:last-child {
      font-size: 1.25rem;
      font-weight: 600;
    }

    &.selected {
      color: white;
      border-radius: 15px;
      background-color: $accent;
      font-weight: 700;
    }

    &.today {
      border-bottom: 3px solid #0077b6;
    }
  }
}

.weekstrip__today-label {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0 16px 8px 16px;
  color: #333;
}
