.MuiPickersCalendarHeader-labelContainer button {
  display: none;
}

.MuiDayCalendar-monthContainer {
  pointer-events: none;
}

.MuiDayCalendar-monthContainer button:hover {
  background-color: transparent;
  cursor: default;
}
